@model Spitfire.Library.Models.Core.Scaffolding.Aside
<aside d="@Model.Id" class="cta-quote @Model.CssClass" style="background-image:url('@Model.BackgroundImgUrl');@Model.CssStyle">
    <div class="@Model.SubCssClass">
        @Html.Sitecore().DynamicPlaceholder("aside")
    </div>
</aside>