@model Spitfire.Library.Models.Core.Scaffolding.Section
<section id="@Model.Id" class="@Model.CssClass" style="background-image: url('@Model.BackgroundImgUrl'); @Model.CssStyle">
    @{ var animation = ""; }
    @if (!string.IsNullOrEmpty(@Model.AnimationClass))
    {
        animation = "wow " + @Model.AnimationClass;
    }
    <div class="@Model.SubCssClass @animation">
        @Html.Sitecore().DynamicPlaceholder("section")
    </div>
</section>