@using Spitfire.SitecoreExtensions.Helpers
@model Spitfire.Library.Models.Core.Layouts.Vitality.Footer
@using (Html.BeginEditFrame("/sitecore/content/Global/Footers/DefaultFooter", "/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Footer"))
{
    <footer class="footer" style="background-image: url('@Model.BackgroundImageUrl'); height: @Model.FooterHeight">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-4 contact-details">
                    <h4>
                        @*<i class="fa fa-phone"></i>*@
                        @Html.Sitecore().Field("Title1Icon", @Model.Item, new { mw = 20, mh = 20 })
                        @Html.Sitecore().Field("Title1", @Model.Item)
                    </h4>
                    <p>@Html.Sitecore().Field("Title1Info", @Model.Item)</p>
                </div>
                <div class="col-md-4 contact-details">
                    <h4>
                        @*<i class="fa fa-map-marker"></i>*@
                        @Html.Sitecore().Field("Title2Icon", @Model.Item, new { mw = 20, mh = 20 })
                        @Html.Sitecore().Field("Title2", @Model.Item)
                    </h4>
                    <p>@Html.Sitecore().Field("Title2Info", @Model.Item)</p>
                </div>
                <div class="col-md-4 contact-details">
                    <h4>
                        @*<i class="fa fa-envelope"></i>*@
                        @Html.Sitecore().Field("Title3Icon", @Model.Item, new { mw = 20, mh = 20 })
                        @Html.Sitecore().Field("Title3", @Model.Item)</h4>
                    <p>@Html.Sitecore().Field("Title3Info", @Model.Item)</p>
                </div>
            </div>

            @Html.Sitecore().Placeholder("col")
            @*<div class="row social">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="#"><i class="fa fa-facebook fa-fw fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-twitter fa-fw fa-2x"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-linkedin fa-fw fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>*@
            <div class="row copyright">
                <div class="col-lg-12">
                    <p class="small">@Html.Sitecore().Field("CopyRight", @Model.Item)</p>
                </div>
            </div>
        </div>
    </footer>
}