@model Spitfire.Library.Models.Core.Components.Images.ImageBanner

<header style="background-image:url('@Model.BackgroundImageUrl');height:@Model.BannerHeight%">
    <div class="intro-content" style="top:@Model.LogoTop%;">
        <div class="col-xs-12 col-md-4 col-md-offset-@Model.LogoLeft">
            @Html.Sitecore().Field("Image", new { @class = "img-centered" })
            <div style="color:@Model.TitleColor" class="brand-name">@Html.Sitecore().Field("Title")</div>
            <hr class="colored">
            <div style="color:@Model.SubTitleColor" class="brand-name-subtext">@Html.Sitecore().Field("SubTitle")</div>
            <div class="content-row">@Html.Sitecore().Field("Link", new { @class = "btn btn-outline-dark page-scroll", @style = "color:" + @Model.LinkColor + ";border: 1px solid " + @Model.LinkColor + ";" })</div>
        </div>
    </div>
    <div class="scroll-down">
        <a class="btn page-scroll" href="#about"><i class="fa fa-angle-down fa-fw"></i></a>
    </div>
</header>