@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
<div class="main-content-wrapper not-front">
    <div class="main-container container">
        <div class="row">
            <div class="region region-pagetop">
                <div id="block-views-gig-details-block" class="block block-views">
                    <div class="content">
                        <div class="view view-gig-details view-id-gig_details view-display-id-block view-dom-id-6a065d7de1bf27d82f738291cc5e7387">
                            <div class="view-content">
                                <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                                    <div class="left">
                                        <div class="info">
                                            <div class="headliners">
                                                <div class="headliner">@Html.Sitecore().Field("ShortTitle")</div>
                                            </div>
                                            <div class="support">
                                            </div>
                                            <div class="divider"></div>
                                            @Html.Sitecore().Field("EventTime")
                                        </div>
                                        <div class="buttons">
                                            <div class="book-tickets">
                                                <a href="#" class="btn btn-orange"><span>Buy Tickets</span></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right">
                                        <div class="main-image">
                                            <a href="">
                                                @Html.Sitecore().Field("Image", new { @class = "img-responsive" })
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <section class="col-sm-12 col-md-8 col-lg-8 mid">
                <a id="main-content"></a>
                <div class="region region-content">
                    <div id="block-system-main" class="block block-system">
                        <div class="content">
                            <div id="node-497" class="node node-gig-event node-promoted clearfix">
                                <div class="content">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="block-views-gig-details-block-1" class="block block-views">
                        <div class="content">
                            <div class="view view-gig-details view-id-gig_details view-display-id-block_1 view-dom-id-b5e7469e5ccc1b33d64231f01acfa872">
                                <div class="view-content">
                                    <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                                        <div class="views-field views-field-field-main-image">        <div class="field-content"></div>  </div>
                                        <div class="views-field views-field-field-artist-name">        <div class="field-content">@Html.Sitecore().Field("Title")</div>  </div>
                                        <div class="views-field views-field-field-bio">
                                            <div class="field-content">
                                                @Html.Sitecore().Field("Body")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="block-views-gig-details-block-2" class="block block-views">
                        <div class="content">
                            <div class="view view-gig-details view-id-gig_details view-display-id-block_2 view-dom-id-3a3c647d2b17c38e25ec0fc108e12573">
                                <div class="view-content">
                                    <div class="views-row views-row-1 views-row-odd views-row-first views-row-last">
                                        <div class="items-0">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <aside class="hidden-xs hidden-st col-sm-12 col-md-4 col-lg-4 right-column" role="aside">
                <div class="region region-sidebar-second">
                    <div id="block-multiblock-1" class="block block-multiblock">

                        <div class="content">
                            <!-- pos=502 -->
                            <div id="div-gpt-ad-slot-502">
                                @Html.Sitecore().Field("AdImage", new { @class = "img-responsive", @style = "margin:auto;width:auto" })
                            </div>
                        </div>
                    </div>
                </div>
            </aside>  <!-- /#sidebar-second -->
        </div>
    </div>
</div>