@using Sitecore.Data.Items
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Spitfire.SitecoreExtensions.Extensions
@model RenderingModel

@foreach (Item item in Model.Item.Children)
{
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <!-- BEGIN CAROUSEL -->
            <div class="front-carousel">
                <div class="carousel slide" id="myCarousel">
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="item active">
                            @Html.Sitecore().Field("image", item, new { mw = 260, mh = 177 })
                        </div>
                    </div>
                </div>
            </div>
            <!-- END CAROUSEL -->
        </div>
        <div class="col-md-8 col-sm-8">
            <h2>
                <a href="@item.Url()">@Html.Sitecore().Field("title", item)</a>
            </h2>
            <p>
                @Html.Sitecore().Field("summary")
            </p>
            <a href="@item.Url()" class="more">Read more <i class="icon-angle-right"></i></a>
        </div>
    </div>
    <hr class="blog-post-sep" />
}