@using Sitecore.Data.Items
@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Spitfire.SitecoreExtensions.Extensions
@model RenderingModel
@{
    var itemIdx = 0;
}
@foreach (Item item in Model.Item.Children.OrderByDescending(x => x["date"]))
{
    var isEven = itemIdx++ % 2 == 0;

    <div class="row">
        @if (isEven)
        {
            <div class="col-md-8 col-sm-8">
                <h2>
                    <a href="@item.Url()">@Html.Sitecore().Field("title", item)</a>
                </h2>
                <ul class="blog-info">
                    <li><i class="fa fa-calendar"></i>&#160;@Html.Sitecore().Field("date", item, new { format = "MMMM dd, yyyy" })</li>
                    <li><i class="fa fa-comments"></i> 17</li>

                </ul>
                <p>
                    @Html.Sitecore().Field("summary", item)
                </p>
                <a href="@item.Url()" class="more">Read more <i class="icon-angle-right"></i></a>
            </div>
        }

        <div class="col-md-4 col-sm-4">
            <!-- BEGIN CAROUSEL -->
            <div class="front-carousel">
                <div class="carousel slide" id="myCarousel">
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="item active">
                            @Html.Sitecore().Field("Image", item, new { mw = 260, mh = 201, @as = 1 })
                        </div>
                    </div>

                </div>
            </div>
            <!-- END CAROUSEL -->
        </div>

        @if (!isEven)
        {
            <div class="col-md-8 col-sm-8">
                <h2>
                    <a href="@item.Url()">@Html.Sitecore().Field("title", item)</a>
                </h2>
                <ul class="blog-info">
                    <li><i class="fa fa-calendar"></i>&#160;@Html.Sitecore().Field("date", item, new { format = "MMMM dd, yyyy" })</li>
                    <li><i class="fa fa-comments"></i> 17</li>

                </ul>
                <p>
                    @Html.Sitecore().Field("summary", item)
                </p>
                <a href="@item.Url()" class="more">Read more <i class="icon-angle-right"></i></a>
            </div>
        }
    </div>
    <hr class="blog-post-sep" />
}