@model Spitfire.Library.Models.Core.Components.Snippets.IconTeaser

<div class="media">
    @if (Model.Item != null)
    {
        <div class="pull-left">
            @Html.Sitecore().Field("Thumbnail", Model.Item, new { @class = "fa fa-clipboard", mw = 80 })
        </div>
        <div class="media-body">
            <h3 class="media-heading" style="color: @Model.TitleColor; font-size: @Model.TitleFontSize">@Html.Sitecore().Field("Title", Model.Item)</h3>
            <div>
                @Html.Sitecore().Field("Details", Model.Item)
            </div>
        </div>
    }
</div>