@model Spitfire.Library.Models.Core.Components.Snippets.IconTeaser

<div class="about-content" style="background: @Model.Background">
    @if (Model.Item != null)
    {
        <!--<i class="fa fa-eye fa-4x"></i>-->
        <div>@Html.Sitecore().Field("Thumbnail", @Model.Item)</div>
        <h3 style="color: @Model.TitleColor; font-size: @Model.TitleFontSize">@Html.Sitecore().Field("Title", @Model.Item)</h3>
        <p>@Html.Sitecore().Field("Details", @Model.Item)</p>
    }

</div>