@model Spitfire.Library.Models.Core.Components.Snippets.ImageText
<div class="row" style="background: @Model.Background; height: @Model.DivHeight">
    <div class="col-md-6 @Model.CssClass">
        @if (Model.Item != null)
        {
            @Html.Sitecore().Field("Image", Model.Item, new { @class = "img-responsive", mw = @Model.ImageWidth, mh = @Model.ImageHeight })
        }
    </div>
    <div class="col-md-6 text-center">
        <h1 style="font-size: @Model.TitleFontSize; color: @Model.TitleColor">@Html.Sitecore().Field("Title", Model.Item)</h1>
        <hr class="colored">
        @Html.Sitecore().Field("Details", Model.Item)
    </div>
</div>