@model Spitfire.Library.Models.Core.Components.Snippets.PromoTeaser

<div class="@Model.CssClassValue" style="background: @Model.Background">
    @if (Model.Item != null)
    {
        <h3 style="color: @Model.TitleColor; font-size: @Model.TitleFontSize">@Html.Sitecore().Field("Title", Model.Item)</h3>
        <hr class="colored">
        <div class="price">
            <span class="number"><sup>@Html.Sitecore().Field("Symbol", Model.Item)</sup>@Html.Sitecore().Field("Amount", Model.Item)</span> / @Html.Sitecore().Field("Period", Model.Item)
        </div>
        @Html.Sitecore().Field("Details", Model.Item)

        @Html.Sitecore().Field("Button", Model.Item, new { @style = "display:table; margin: 0 auto;" })
    }

</div>