@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    var item = Model.Item;
}
<!-- BEGIN SERVICE BOX -->
<div class="row service-box margin-bottom-40">
    <div class="col-md-4 col-sm-4">
        <div class="service-box-heading">
            <em><i class="@item["icon 1"]"></i></em>
            <span>@Html.Sitecore().Field("title 1")</span>
        </div>
        <p>@Html.Sitecore().Field("text 1")</p>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="service-box-heading">
            <em><i class="@item["icon 2"]"></i></em>
            <span>@Html.Sitecore().Field("title 2")</span>
        </div>
        <p>@Html.Sitecore().Field("text 2")</p>
    </div>
    <div class="col-md-4 col-sm-4">
        <div class="service-box-heading">
            <em><i class="@item["icon 3"]"></i></em>
            <span>@Html.Sitecore().Field("title 3")</span>
        </div>
        <p>@Html.Sitecore().Field("text 3")</p>
    </div>
</div>
<!-- END SERVICE BOX -->	