@using Sitecore.Data.Items
@using Spitfire.SitecoreExtensions.Helpers
@model Spitfire.Library.Models.Core.Components.Text.TestimonialsCarousel

<div class="testimonials-carousel">
    @if (Model.Teasers != null)
    {
        foreach (Item item in Model.Teasers)
        {
            <div class="item">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="lead">@Html.Sitecore().Field("Title", item)</p>
                        <hr class="colored">
                        <blockquote class="quote">@Html.Sitecore().Field("Summary", item)</blockquote>
                        <div class="testimonial-info">
                            <div class="testimonial-img">
                                @Html.Sitecore().Field("Image", item, new { @class = "img-circle img-responsive" })
                            </div>
                            <div class="testimonial-author">
                                <span class="testimonials-name">@Html.Sitecore().Field("Name", item)</span>
                                <span class="small testimonials-post">@Html.Sitecore().Field("Job Title", item)</span>
                                @using (Html.BeginEditFrame(item.Paths.Path, "/sitecore/content/Applications/WebEdit/Edit Frame Buttons/Teasers"))
                                {
                                    <div class="stars">
                                        @for (var i = 0; i < int.Parse(item["Rating"]); i++)
                                        {
                                            <i class="fa fa-star"></i>
                                        }
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

</div>