@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    var isFullWidth = Model.Rendering.Parameters["FullWidth"] == "1";
    var showTitle = Model.Rendering.Parameters["ShowTitle"] == "1";
    var showBreadcrumb = Model.Rendering.Parameters["ShowBreadcrumb"] == "1";
    int col1Width, col2Width, col3Width;
    if (!int.TryParse(Model.Rendering.Parameters["Column1Width"], out col1Width))
    {
        col1Width = 4;
    }

    if (!int.TryParse(Model.Rendering.Parameters["Column2Width"], out col2Width))
    {
        col2Width = 4;
    }

    if (!int.TryParse(Model.Rendering.Parameters["Column3Width"], out col3Width))
    {
        col3Width = 4;
    }
    
    string containerClass, rowClass;
    if (isFullWidth)
    {
        containerClass = "container-fluid";
        rowClass = "row-fluid";
    }
    else
    {
        containerClass = "container";
        rowClass = "row";
    }
}

<div class="@containerClass">
    @if (showBreadcrumb)
    {
        @Html.Sitecore().Rendering("{C2928AA1-9DFC-488D-AC3E-5E0744C4FF68}") @* Breadcrumb *@
    }
    <div class="@rowClass margin-bottom-40">
        <div class="col-md-12">
            @if (showTitle)
            {
                <h1>@Html.Sitecore().Field("title")</h1>
            }

            <div class="@rowClass">
                <div class="col-md-@col1Width col-sm-@col1Width">
                    @Html.Sitecore().DynamicPlaceholder("column1")
                </div>
                <div class="col-md-@col2Width col-sm-@col2Width">
                    @Html.Sitecore().DynamicPlaceholder("column2")
                </div>
                <div class="col-md-@col3Width col-sm-@col3Width">
                    @Html.Sitecore().DynamicPlaceholder("column3")
                </div>
            </div>
        </div>
    </div>
</div>